/* input fields */

input[class="input-large"] {
   width: 400px;
   padding: 10px;
   border: 1px solid #ccc;
   font-size: 20px;

   &:focus{
   	outline-width: 0px;
   }
}


/* positioning */
.center{
	text-align: center;
}


/* padding */
.vertical-padding-one{
	padding-top: 50px;
	padding-bottom: 50px;
}

.vertical-padding-two{
	padding-top: 100px;
	padding-bottom: 100px;
}