<div id="header">
  <%= link_to "BubzBattle", root_path, id: "logo" %>

  <div id="header-links">
    <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
    <% else %>
      <%= link_to "Sign in", signin_path %>
      <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
</div>